/* NoticiaDetalle.css */

.detalle-noticia {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Georgia', serif;
}

.detalle-fecha {
    display: block;
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.detalle-noticia h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin: 20px 0;
}

.detalle-descripcion {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}

.detalle-results {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.detalle-results h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.detalle-results li {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
}

.detalle-results li strong {
    font-weight: bold;
    color: #333;
}
.detalle-imagenes {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.detalle-imagen {
    width: 35%;
    height: auto;  /* Mantiene la relación de aspecto */
    object-fit: cover; /* Si deseas que las imágenes se ajusten al contenedor sin distorsión */
    border-radius: 8px;
}

/* Estilos responsive */
@media (max-width: 768px) {
    .detalle-noticia {
        padding: 15px;
    }

    .detalle-noticia h2 {
        font-size: 2rem;
    }

    .detalle-descripcion {
        font-size: 1rem;
    }

    .detalle-results li {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .detalle-noticia {
        padding: 10px;
    }

    .detalle-fecha {
        font-size: 12px;
    }

    .detalle-noticia h2 {
        font-size: 1.6rem;
    }

    .detalle-descripcion {
        font-size: 0.9rem;
    }

    .detalle-results li {
        font-size: 0.9rem;
    }
    .detalle-imagenes{
        flex-direction: column;
    }
    .detalle-imagen {
        width: 100%;
        height: auto;  /* Mantiene la relación de aspecto */
        object-fit: cover; /* Si deseas que las imágenes se ajusten al contenedor sin distorsión */
        border-radius: 8px;
    }
}
