aside {
    grid-area: aside;
    display: flex;
    /* flex-direction: column; */
    padding: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /* min-height: 60vh; */
    /* height: 100%; */
    /* width: 100%; */
    background: #ffffff;

}

aside img {
    width: 15%;
}

@media (max-width: 768px) {
    aside {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    aside img {
        width: 40%;
        height: 20%;
    }

    aside.shifted {
        transform: translateY(230px);
        /* Ajusta el desplazamiento a tus necesidades */
    }
}