/* Estilos para el main usando grid */

main {
  grid-area: main;
  display: flex;
  /* margin: 0 1rem; */
  /* width: 90%; */
  /* background-color: rgba(13, 14, 15, 0.664); */
  /* border-radius: 4px; */
  gap: 1rem; /* Espacio entre las columnas y filas */
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
  /* border: red dashed 4px; */
}

/* Cambios para pantallas pequeñas */
@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr; /* En pantallas pequeñas, una sola columna */
    gap: 1rem;
    padding: 20px;
  }

  main.shifted {
    transform: translateY(140px); /* Ajusta el desplazamiento a tus necesidades */
  }
}
