/* Estilos básicos */
.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: rgb(250, 250, 250);
  background-color: rgb(31, 51, 93);
}

.header img {
  width: 30vw;
}

/* Estilos para el menú */
.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav ul li {
  margin: 0 10px;
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
}

.nav ul li a {
  color: rgb(250, 250, 250);
  text-decoration: none;
}

.nav ul li:hover {
  cursor: pointer;
}

/* Ocultar el botón de menú en pantallas grandes */
.menu-toggle {
  display: none;
  font-size: 48px;
  background: none;
  border: none;
  color: white;
}

.menu-toggle.hidden {
  display: none;
}

/* Estilos responsive */
@media (max-width: 768px) {
  .header {
    justify-content: space-between;
  }

  .header img {
    width: 70vw;
  }

  .nav {
    width: 100%;
    position: absolute; /* Asegura que el menú esté por encima de otros elementos */
    margin-top: 55vw;    
    left: 0;
    right: 0;
    background-color: rgb(31, 51, 93) ;
    z-index: 9999; /* Establece un valor alto para asegurarse de que esté por encima de otros elementos */
    display: none;  /* El menú está oculto por defecto */
    transform: translateY(-100%); /* El menú empieza fuera de la pantalla */
    transition: transform 0.3s ease-in-out;
  }

  .nav.open {
    display: block;
    transform: translateY(0); /* Muestra el menú */
  }

  .nav ul {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .nav ul li {
    text-align: center;
    font-size: 8vw;
    margin: 10px 0;
  }

  .menu-toggle {
    display: block;
    color: rgb(250, 250, 250);
    font-size: 10vw;
  }

  .menu-toggle.hidden {
    display: none;
  }
}
