/* Tarjeta horizontal tipo noticia */
h1{
    text-align: center;
    font-family: raleway;
    color: #bebcbc;
}
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1vw;
    gap: 1vw;

}
.card {
    background: #106420;
    padding: .5vw;
    text-decoration: none;
    width: 30%;
    height: 20vw;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column  ;
    align-items: center;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    position: relative;
}

/* HOVER */
.card:hover {
    transform: translateY(-6px);
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.35);
}

/* IZQUIERDA: fecha + título */
.card-info {
    /* flex: 1; */
    padding: 1.2vw;
    display: flex;
    width: 100%;
    /* flex-direction: column; */
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    
}

/* Fecha estilo etiqueta */
.card-date {
    background: #016d34; /* Verde Olé */
    width: fit-content;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 0.85rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: static;  /* ← ya no queda sobre la foto */
}

/* Título a la izquierda */
.card-title {
    font-size: 1.4rem;
    font-weight: 900;
    line-height: 1.3;
    color: #bebcbc;
    text-align: left;
    padding: 0;
}

/* DERECHA: imagen */
.image-container {
    /* width: 40%; */
    border-radius: 2px;
    height: 100%;
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.25s ease;
}

.card:hover .card-image {
    transform: scale(1.05);
}

/* MOBILE: imagen arriba, texto abajo */
@media (max-width: 768px) {
    .card {
        flex-direction: column;
        height: auto;
    }

    .image-container {
        width: 100%;
        height: 55vw;
    }

    .card-title {
        font-size: 1.2rem;
    }
}
