article {
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 1vw;
    margin-bottom: 20px; /* Espacio adicional en la parte inferior */
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1vw;
}

/* Estilos de la tarjeta */
.card {
    background-color: rgb(113, 113, 112);
    text-decoration: none;
    width: 40%; /* Tamaño fijo para uniformidad */
    height: 20vw;
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 2vw;
    position: relative;
}

/* Contenedor de la imagen */
.image-container {
    width: 100%;
    height: 90%;
    /* overflow: hidden; */
    border-radius: 10px;
}

/* Imagen dentro de la tarjeta */
.card-image {
    width: 100%;
    height: 100%;
    object-fit:fill;
    border-radius: 5px;
}

/* Fecha */
.card-date {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    background-color: rgba(31, 51, 93, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    z-index: 2;
    text-transform: uppercase;
}

/* Título */
.card-title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
}

/* Selector de año */
.year-selector {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: wheat;
}

.year-selector label {
    margin-right: 10px;
}

.year-selector select {
    padding: 5px;
    font-size: 16px;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    article {
        justify-content: center;
    }

    .card {
        width: 90%;
        height: auto;
        padding: 15px;
    }

    .image-container {
        height: 200px;
    }

    .card-title {
        font-size: 1rem;
    }
}
